.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.workout-section,
.exercise-section,
.exercises-not-in-workout-section,
.exercises-in-workout-section {
  flex: 1;
  margin: 20px;
  text-align: center;
  min-width: 0;
}

table {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

form {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#Edit_Workout_Form input,
#Edit_Workout_Form textarea,
#Create_Workout_Form input,
#Create_Workout_Form textarea {
  width: 95%;
}
.card,
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  min-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card input,
.card textarea,
.sign-up input,
.sign-up textarea {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card button,
.sign-up button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.card label,
.sign-up label {
  font-weight: bold;
}
.card,
.sign-up {
  font-family: Arial, sans-serif;
}

table {
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
}

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

thead th {
  background-color: #f2f2f2;
}

.workout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-image {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.profile-details {
  margin-top: 1em;
}

.create-first-workout-button {
  align-self: center;
}
