.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.workout-section,
.exercise-section,
.exercises-not-in-workout-section,
.exercises-in-workout-section {
  flex: 1;
  margin: 20px;
  text-align: center;
  min-width: 0;
}

table {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

form {
  margin: 20px auto;
  max-width: 600px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
textarea {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

#Edit_Workout_Form input,
#Edit_Workout_Form textarea,
#Create_Workout_Form input,
#Create_Workout_Form textarea {
  width: 95%;
}
.card,
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  min-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card input,
.card textarea,
.sign-up input,
.sign-up textarea {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card button,
.sign-up button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.card label,
.sign-up label {
  font-weight: bold;
}
.card,
.sign-up {
  font-family: Arial, sans-serif;
}

table {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* overflow: hidden; */
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

thead th {
  background-color: #f5f5f5;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  text-align: left;
}

tbody tr {
  transition: background-color 0.3s;
}

/* Zebra-striping */
tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

tbody tr:hover {
  background-color: #e8e8e8;
}

.workout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-image {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.profile-details {
  margin-top: 1em;
}

.create-first-workout-button {
  align-self: center;
}

.margin-right {
  margin-right: 10px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.landing-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.landing-subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.landing-login-button-link {
  text-decoration: none;
  margin-top: 20px;
}

h1.text-center {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
}

body {
  font-family: "Roboto", sans-serif;
}

.logout-button {
  background-color: red;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: darkred;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}
